$estilos:(
    colorPrincipal1: #AC9894,
    colorPrincipal2: #d3bcaf,
    colorPrincipal3: #f4eae0,
    colorPrincipal4: #d5cbc2,
    colorSecundario1: #928280,
    colorSecundario2: #bba79e,
    colorSecundario3: #dcd5cf,
    colorSecundario4: #b6aea8,

    colorFondo: rgb(225, 206, 190, 0.5)
)

/* map-get($estilos,colorPrincipal) */